<app-pin-unpin height="700px" width="500px">
  <ng-container header> Lorem Ipsum</ng-container>
  <ng-container body>
    <div>
      <article>
        <h2>Challenge Overview</h2>
        <p>
          The app is browser based web app which needs to create/update a
          reusable UI components. No codebase provided. You can create a simple
          demo app using a button to implement the pin-unpin window. Goal of
          this challenge is to implement reusable component for pin-unpin
          window.
        </p>
        <h1>General Requirements</h1>
        <p><strong>Technologies and Frameworks</strong></p>
        <ul>
          <li>Angular 8+</li>
          <li>HTML5 &amp; CSS3</li>
          <li>Angular Material</li>
        </ul>
        <p><strong>Validation</strong></p>
        <ul>
          <li>Please use a linter like ESLint</li>
          <li>
            Usage of any third-party angular library is subject to approval and
            should be comply with open source license
          </li>
        </ul>
        <p><strong>Verification</strong></p>
        <ul>
          <li>A Readme file which contains how to use the components</li>
          <li>
            A simple demo app to implement the pin-unpin window components
          </li>
        </ul>
        <p><strong>Layout Specification</strong></p>
        <ul>
          <li>Browser based web app for desktop/laptop all resolution</li>
        </ul>
        <p><strong>Platform Requirement</strong></p>
        <ul>
          <li>
            Latest Firefox, Latest Safari &amp; Chrome Browsers (Mac &amp;
            Windows)
          </li>
        </ul>
        <h1>Individual Requirements</h1>
        <p>
          <strong>Pin-Unpin Window Dialog</strong> Develop a reusable pin-unpin
          dialog window component.
        </p>
        <ul>
          <li>Dialog window based on Angular Material</li>
          <li>Dialog window should have the feature for pin and unpin</li>
          <li>
            When the dialog window on the pin state: it will be shown in a
            particular position within the whole screen
          </li>
          <li>
            When the dialog window on the unpin state: it will be a modal dialog
            that can be moved anywhere within the whole screen
          </li>
        </ul>
        <p>Check the screenshot below for the sample:</p>
        <p>
          <img
            style="width: 100%"
            alt="pin-unpin window dialog"
            src="https://lh6.googleusercontent.com/WRU64h9U0W38wXEJ1nBRdPq5-JsgQdISKuqiUlYvu5F_nJXAvcTu-GDGcdKPp1FLO1Ysr47pr4M45hMF6m4v7xppcHO3ZvlRjS2xwuyyg77BgCMCpsM91rtRbggPw9HnH6Suw64R"
          />
        </p>
        <h1>Framework Specific Requirements</h1>
        <ul>
          <li>
            Code should follow the best practices of
            <a href="https://en.wikipedia.org/wiki/ECMAScript">ECMAScript 5</a>
            (ES5) or above.
          </li>
          <li>Split the code into Reusable components.</li>
          <li>
            For AngularJS based applications these are the expected modules:
            Core, Shared and lazy-loaded Feature modules.
            <ul>
              <li>
                Core Modules: All services which have to have one and only one
                instance per application (singleton services) should be
                implemented here.
              </li>
              <li>
                SharedModule: All the “dumb” components and pipes should be
                implemented here.
              </li>
              <li>
                Lazy Loading: We should lazy load our feature modules whenever
                possible.
              </li>
            </ul>
          </li>
          <li>
            If the official framework documentation says a specific way or
            approach to do something, and you did differently with no solid
            reason, that's valid for scoring down.
          </li>
        </ul>
        <h1>Licenses &amp; Attribution</h1>
        <ul>
          <li>
            Third-party assets used to build your item must be properly licensed
            or free for commercial use. MIT, some modified BSD, Apache 2
            licenses are ok. If a library is not commercial friendly you will
            need to get our approval first.
          </li>
          <li>
            Sufficient information regarding third-party assets must be present
            in your documentation. This includes the author, license info and a
            direct link to the asset online.
          </li>
        </ul>
        <h1>Deliverables</h1>
        <ul>
          <li>Zip file with simple demo Angular application</li>
          <li>A Readme file how to run and verify your solutions</li>
        </ul>
      </article>
    </div>
  </ng-container>
</app-pin-unpin>
