.pin-box {
  width: 400px;
  height: 600px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  .pin-title {
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    background-color: #e7e7e7;
    color: #535252;
    font-weight: 500;
    user-select: none;
    span {
      margin-left: 15px;
      display: inline-block;
    }
    &.drag-disabled {
      cursor: not-allowed;
      background-color: white;
      .pin-handle {
        cursor: pointer;
        transform: none;
      }
    }
  }
  .pin-body {
    border: 5px solid #d6d6d6;
    box-sizing: border-box;
    margin: 13px 10px;
    height: 86%;
    user-select: text;
    .content {
      height: 100%;
      padding: 0px 15px;
      box-sizing: border-box;
      overflow-y: auto;
    }
  }
  &:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  .pin-handle {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    rotate: deg(180);
    transform: rotate(180deg);
    user-select: none;
  }
}
